.contacts {
  width: 90%;
  margin: 0 auto 100px;
}

@media screen and (max-width:600px) {
  .contacts {
  margin-bottom: 50px;
  }
}

.contacts__conteiner {
  width: 90%;
  display: grid;
  grid-template-columns: 270px 4fr;
  align-items: center;
  margin-left: auto;
  column-gap: 6%;
  row-gap: 30px;
}

@media screen and (max-width:1000px) {
  .contacts__conteiner {
    width: 100%;
  }
}

@media screen and (max-width:700px) {
  .contacts__conteiner {
    grid-template-columns: 1fr;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 10px;
  line-height: 4.2;
  color: #FFA630;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .contacts__title {
    font-size: 14px;
  }
}

.contacts__text {
  color: white;
}

.contacts__mail {
  text-decoration: none;
  color: #FFFFFF;
}

.contacts__social {
  margin-top: 64px;
  width: 70%;
}

@media screen and (max-width:700px) {
  .contacts__social {
    margin-top: 30px;
  }
}

.contacts__map-wrap {
  position: relative;
  
}

.contacts__map {
  width: 100%;
  height: 70vmin;
  min-height: 400px;
  background-image: url(../../images/map.jpg);
  background-size: cover;
}

.contacts__map-marker {
  position: absolute;
  background: #EF3527;
  position: absolute;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 130px;
}

.contacts__map-marker::after {
  content: ''; 
  position: absolute;
  left: 30px;
  top: 50px;
  border: 18px solid transparent;
  border-top: 18px solid #EF3527;
}

.contacts__marker {
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #212121;
}