.page {
  max-width: 1440px;
  min-width: 325px;
  margin: 0 auto;
  background: #252525;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}