.focus {
  margin: 150px 0 100px;
}

.focus__content {
  border: 20px solid #FFA630;
  box-sizing: border-box;
}

.focus__delimeter {
  background: #EF3527;
  width: 192px;
  height: 4px;
  margin: 30px 0 30px 90px;
}

.focus__title {
  margin: 70px 0 0 90px;
}

.focus__text {
  margin-left: 90px;
  width: 190px;
}