.numbers {
  width: 100%;
  min-height: 637px;
  background: #EF3527;
  display: flex;
}

.numbers__grid {
  width: 90%;
  margin: 95px auto;
  display: grid;
  grid-template-columns: minmax(300px, 1.2fr) repeat(auto-fit, minmax(325px, 1fr));
  column-gap: calc(100%/20);
  row-gap: calc(100%/20);
}

.numbers__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: inherit;
}

.number__icon {
  max-width:80px;
  margin: 0 auto;
}

.number__item-wrap {
  margin-left: 5%;
  width: 70%;
}

.numbers__item-title {
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0.2px;
  color: #FFA630;
  margin: 0;
}

@media screen and (max-width:700px) {
  .numbers__item-title {
    font-size: 40px;
  }
}
