.footer {
  margin: 0 auto 40px;
  font-size: 14px;
  line-height: 2.1;
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    font-size: 20px;
  }
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 10px;
  justify-content: space-between;
  margin: 0 0 90px 0;
}

@media screen and (max-width: 1000px) {
  .footer__columns {
    column-gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .footer__columns {
    grid-template-columns: 1fr;
  }
}

.footer__column {
  margin-bottom: 20px;
}

.footer__column-heading {
  font-size: 14px;
  letter-spacing: 0.2px;
  opacity: 0.7;
  margin: 0 0 20px;
}

@media screen and (max-width: 425px) {
  .footer__column-heading {
    margin: 20px 0 10px;
  }
}

.footer__column-links { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.footer__column-link {
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 1;
}

.footer__column-adress {
  color: #FFFFFF;
  opacity: 0.5;
}

.footer__column_content_social {
  margin-top: 10px;
}

@media screen and (max-width: 700px) and (min-width: 426px) {
  .footer__column_content_social {
    grid-row: 3/4;
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .footer__bottom {
    flex-direction: column;
  }
}

.footer__copyright {
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
  font-size: 11px;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    order: 2;
  }
}

.footer__column_content_bottom {
  margin-right: 0;
}

.footer__column-links_bottom {
  display: flex;
}

@media screen and (max-width: 650px) {
  .footer__column-links_bottom {
    flex-direction: column;
  }
}

.footer__column-item_bottom {
  margin-right: 15px;
}

.footer__column-item_bottom:last-of-type {
  margin-right: 0;
}

