.button {
  width: 160px;
  height: 50px;
  background-color: #EF3527;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.2px;
  color: #252525;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #FFA630;
}