.grid__list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(calc(100%/4), 1fr));
  grid-gap: 16px;
}

@media screen and (max-width:1000px) {
  .grid__list {
    grid-template-columns: repeat(auto-fit, minmax(calc(100%/3), 1fr));
  }
}

@media screen and (max-width:600px) {
  .grid__list {
    grid-template-columns: 1fr;
  }
}

.grid__item {
  list-style-type: none;
  position: relative;
  overflow: hidden;
}

.grid__content-box {
  border: 20px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 290px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.grid__content-box_color_red {
  border-color: #EF3527;
}

.grid__content-box_color_orange {
  border-color: #FFA630;
}


@media screen and (max-width:700px) {
  .grid__content-box {
    border-width: 14px;
  }
}

.grid__content-wrap {
  display: flex;
  flex-direction: column;
}

.grid__content-wrap_align_right {
  align-items: flex-end;
}

.grid__content-box-title {
  width: min-content;
}

.grid__content-box-title_align_right {
  text-align: right;
}

.grid__content-box-delimeter {
  background: #EF3527;
  width: 192px;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.grid__content-frame {
  width: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #252525;
  display: flex;
  align-items: center;
}

@media screen and (max-width:760px) {
  .grid__content-frame {
    font-size: 20px;
  }
}


.grid__content-title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.2s linear;
  padding: 6% 0;
  width: min-content;
}

@media screen and (max-width:700px) {
  .grid__content-title {
    font-size: 20px;
  }
}

@media screen and (max-width:600px) {
  .grid__content-title {
    font-size: 26px;
  }
}

.grid__content-title:hover {
  color: #EF3527;
}

.grid__item_xl {
  grid-column: 1 / 3;
}

@media screen and (max-width:1000px) {
  .grid__item_xl {
    order: 1;
  }
}

@media screen and (max-width:600px) {
  .grid__item_xl {
    grid-column: 1;
  }
}

.grid__image {
  transition: transform 0.6s ease;
  width: 100%;
  height: 100%;
}

.grid__image:hover {
  transform: scale(1.2);
}
